body {
  background-color: #f5f8fc;
  font-family: "Segoe UI", Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #002b5c;
  margin-bottom: 30px;
}
